.wrapper{
    // fonts - google fonts monserat
    font-family: 'Poppins', 'Montserrat', sans-serif; 
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // flex: 1 1 auto;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    box-shadow: 5px 9px 20px #AEC3D0;
    padding: 30px;

    .introWrapper{
        margin-left: 30px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h5{
            max-width: 100%;
            color: #AFB2C1;
            font-size: 18px;
            font-weight: 600;
            line-height: 27px;
            margin-bottom: 1px;
        }
        h2{
            max-width: 100%;
            width: 280px;
            height: 39px;
            font-size: 26px;
            font-weight: 700;
            line-height: 39px;
            margin-bottom: 25px;
        }

        .alertBlock{
            max-width: 100%;
            height: 50px;
            padding: 10px;
            background: #3DBDB6;
            border-radius: 7px;
            display: flex;
            align-items: center;
            justify-content: start;
            
            
            .checkmark{
                height: 24px;
                width: 24px;
                margin-left: 15px;
            }
            .alertText{
                margin-left: 20px;
                font-weight: 400;
                font-size: 17px;
                line-height: 25px;
                letter-spacing: -0.01em;
                color: #FFFFFF;
            }
        }
        .docMsg{
            display: flex;
            align-items: center;
            width: 15px;
            height: 17px;
            left: 1.6;
            margin-top: 50px;
    
            .iconDoc{
                font-size: 24px;
            }
            .docName{
                margin-left: 8px;
                font-size: 18px;
                line-height: 27px;
                letter-spacing: -0.005em;
                color: #48465B;
            }
        }
    }      
    
    .formWrapper{
        max-width: 100%;
        padding: 20px 20px 30px 20px;
        background: #FFFFFF;
        box-shadow: 0px 0px 6px #EAEAEA;
        border-radius: 7px;
        margin-top: 10px;
        margin-left: 28px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        // justify-content: stretch;
        // align-items: stretch;
        background: #FFFFFF;
        box-shadow: 0px 0px 6px #EAEAEA;
        border-radius: 7px;
        margin-top: 22px;
        margin-left: 28px;
        margin-bottom: 90px;


        .formBlockOne{
            height: 40px;
            margin-bottom: 30px;
            display: flex;
            
            input{
                width: 100%;
                box-sizing: border-box;
                padding-left: 17px;
                border: none;
                background: #F2F2F3;
                border-radius: 5px;
                font-weight: 500;
                font-size: 18px;
                line-height: 26px;
                color: #48465B;
            }
        }
        .formBlockTwo{
            
            margin-bottom: 35px;
            display: flex;
            align-items: center;
            color: #7B829F;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            letter-spacing: -0.01em;
            
            .menu{
                width: 75px;
                padding-bottom: 5px;
                padding-left: 10px;
                border-bottom: 1px solid #D6D9E0;
            }
            .edit{
                width: 45px;
                padding-bottom: 5px;
                padding-left: 10px;
                border-bottom: 1px solid #D6D9E0;
            }
        }
        .formBlockThree{
            width: 100%;
            box-sizing: border-box;
            font-size:26px;
            background: #FFFFFF;
            border: 2px solid #F2F2F3;
            box-shadow: 0px 0px 6px #EAEAEA;
            border-radius: 7px;
            
            textarea{
                width: 100%;
                box-sizing: border-box;
                padding: 20px 25px 20px 25px;
                resize: none;
                border: none;
                font-weight: 500;
                font-size: 18px;
                line-height: 26px;
                color: #48465B;
            }
        }
    }
}
